MiniDeluxe/Service References/log4omService/log4om1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/log4om?xsd=xsd2" namespace="http//Log4OMNG/BE" />
  <xs:element name="ConnectionTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectionTestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQslList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="qslSent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qslSentVia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQslListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http//Log4OMNG/BE" minOccurs="0" name="GetQslListResult" nillable="true" type="q1:Log" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQslAdif">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="qslSent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qslSentVia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQslAdifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQslAdifResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQSO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adif" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQSOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateQSOResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditQSO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="qsoId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditQSOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditQSOResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQSO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adif" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQSOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddQSOResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>