MiniDeluxe/Service References/log4omService/WCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IWCFService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/log4om?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/log4om?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/log4om?xsd=xsd2" namespace="http//Log4OMNG/BE" />
      <xsd:import schemaLocation="http://localhost:8080/log4om?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LogOM.BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_ConnectionTest_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionTest" />
  </wsdl:message>
  <wsdl:message name="IWCFService_ConnectionTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectionTestResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetQslList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQslList" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetQslList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQslListResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetQslAdif_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQslAdif" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetQslAdif_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQslAdifResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_UpdateQSO_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQSO" />
  </wsdl:message>
  <wsdl:message name="IWCFService_UpdateQSO_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQSOResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_EditQSO_InputMessage">
    <wsdl:part name="parameters" element="tns:EditQSO" />
  </wsdl:message>
  <wsdl:message name="IWCFService_EditQSO_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditQSOResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_AddQSO_InputMessage">
    <wsdl:part name="parameters" element="tns:AddQSO" />
  </wsdl:message>
  <wsdl:message name="IWCFService_AddQSO_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddQSOResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFService">
    <wsdl:operation name="ConnectionTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/ConnectionTest" message="tns:IWCFService_ConnectionTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/ConnectionTestResponse" message="tns:IWCFService_ConnectionTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQslList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetQslList" message="tns:IWCFService_GetQslList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetQslListResponse" message="tns:IWCFService_GetQslList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQslAdif">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetQslAdif" message="tns:IWCFService_GetQslAdif_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetQslAdifResponse" message="tns:IWCFService_GetQslAdif_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQSO">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/UpdateQSO" message="tns:IWCFService_UpdateQSO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/UpdateQSOResponse" message="tns:IWCFService_UpdateQSO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditQSO">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/EditQSO" message="tns:IWCFService_EditQSO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/EditQSOResponse" message="tns:IWCFService_EditQSO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddQSO">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/AddQSO" message="tns:IWCFService_AddQSO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/AddQSOResponse" message="tns:IWCFService_AddQSO_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IWCFService" type="tns:IWCFService">
    <wsp:PolicyReference URI="#WSHttpBinding_IWCFService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectionTest">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/ConnectionTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQslList">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/GetQslList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQslAdif">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/GetQslAdif" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQSO">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/UpdateQSO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditQSO">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/EditQSO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddQSO">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/AddQSO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="WSHttpBinding_IWCFService" binding="tns:WSHttpBinding_IWCFService">
      <soap12:address location="http://localhost:8080/log4om" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8080/log4om</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>